<aside class="aside">
    <div class="aside__content">
        <div class="cart-product">
            <div class="cart-product__image">
                <img src="./images/content/product-1.jpg" class="cart-product__image__src" alt="">
            </div>
            <div class="cart-product__name">Овощное рагу с мясом кролига 320 г.</div>
            <div class="cart-product__price">279 руб.</div>
        </div>

        <div class="cart-product">
            <div class="cart-product__image">
                <img src="./images/content/product-1.jpg" class="cart-product__image__src" alt="">
            </div>
            <div class="cart-product__name">Овощное рагу с мясом кролига 320 г.</div>
            <div class="cart-product__price">279 руб.</div>
        </div>

        <div class="cart-product">
            <div class="cart-product__image">
                <img src="./images/content/product-1.jpg" class="cart-product__image__src" alt="">
            </div>
            <div class="cart-product__name">Овощное рагу с мясом кролига 320 г.</div>
            <div class="cart-product__price">279 руб.</div>
        </div>

        <div class="cart-result">
            итого: <span class="cart-result__amount">567</span> руб.
        </div>

        <a href="./cart.html" class="button">перейти к заказу</a>
    </div>
</aside>
