<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="layout-footer__wrapper">

        <div class="layout-footer__block">
            <div class="layout-footer__block__title">Свежии продукты</div>
            <div class="layout-footer__block__content">Не подвергаем продукты долгому хранению</div>
        </div>

        <div class="layout-footer__block">
            <div class="layout-footer__block__title">БОЛЬШОЙ ВЫБОР</div>
            <div class="layout-footer__block__content">Разнообразное меню на любой вкус</div>
        </div>

        <div class="layout-footer__block">
            <div class="layout-footer__block__title">ОНЛАЙН оплата</div>
            <div class="layout-footer__block__content">Платите как удобно - наличными или онлайн</div>
        </div>

	</div>
</footer>
