<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="layout-footer__wrapper">

        <div class="layout-footer__content">
            <div class="layout-footer__block">
                <div class="layout-footer__block__making layout-footer__block__making--farm-products">
                    <div class="layout-footer__block__content">
                        <div class="layout-footer__block__title">Свежии продукты</div>
                        <div class="layout-footer__block__text">Не подвергаем продукты долгому хранению</div>
                    </div>
                </div>
            </div>

            <div class="layout-footer__block">
                <div class="layout-footer__block__making layout-footer__block__making--menu">
                    <div class="layout-footer__block__content">
                        <div class="layout-footer__block__title">БОЛЬШОЙ ВЫБОР</div>
                        <div class="layout-footer__block__text">Разнообразное меню на любой вкус</div>
                    </div>
                </div>
            </div>

            <div class="layout-footer__block">
                <div class="layout-footer__block__making layout-footer__block__making--payment">
                    <div class="layout-footer__block__content">
                        <div class="layout-footer__block__title">ОНЛАЙН оплата</div>
                        <div class="layout-footer__block__text">Платите как удобно - наличными или онлайн</div>
                    </div>
                </div>
            </div>
        </div>

	</div>
</footer>
