<button type="button" class="sandwich j-sandwich-menu" aria-label="Меню">
    <span class="sandwich__layer"></span>
</button>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div class="layout-header__wrapper">

        <div class="header-delivery">
            Одна из самых быстрых доставок,
            доставка от 1000 руб. в мкр. ККБ, Панорама,
            Губернский, бесплатно
        </div>


        <div class="header-phone">8 (988) 243-88-88</div>

        <div class="header-worktime">
            Время работы:
            Пт, Сб - с 12:00 до 4:00
        </div>

        <div class="header-contacts">
            Самовывоз:
            г. Краснодар, МКР «Панорама», ул. Жлобы, 137
        </div>

        <div class="cart-holder">
            Корзина
            на сумму 1230 руб.
        </div>

    </div>
</header>
