<button type="button" class="sandwich j-sandwich-menu" aria-label="Меню">
    <span class="sandwich__layer"></span>
</button>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div class="layout-header__wrapper">

        <div class="layout-header__group">

            <a href="./index.html" class="layout-header__logo logo" rel="home" itemprop="url" accesskey="1" data-instant>
                <span itemprop="name">Доставка «EAT & TRIP»</span>
            </a>

            <div class="layout-header__fixed">
                <div class="delivery-panel">
                    <div class="delivery-panel__content">
                        Одна из самых быстрых доставок,<br>
                        доставка от 1000 руб. в мкр. ККБ, Панорама,<br>
                        Губернский, бесплатно
                    </div>
                </div>
            </div>

            <div class="layout-header__content">
                <div class="header-phone">
                    <a href="tel:8-988-243-88-88" class="header-phone__tel">8 (988) 243-88-88</a>
                    <div class="header-phone__comment">телефон для заказа</div>
                </div>

                <div class="header-worktime">
                    <div class="header-worktime__title">Время работы:</div>
                    <div class="header-worktime__time">с 08.00 до 24.00</div>
                </div>

                <div class="header-contacts">
                    <div class="header-contacts__title">Самовывоз:</div>
                    <div class="header-contacts__address">г. Краснодар, МКР «Панорама»,<br>ул. Восточно-Кругликовская, 26</div>
                </div>

                <a href="/cart" class="cart-holder" id="cart-holder">
                    <div class="cart-holder__header">
                        <svg class="cart-holder__ico" role="img"><use xlink:href="#cart"/></svg>
                        <div class="cart-holder__count j-cart-count">12</div>
                    </div>

                    <div class="cart-holder__label is-active cart-holder__nomobile j-cart-no-empty">Корзина</div>
                    <!-- <div class="cart-holder__label is-active cart-holder__nomobile j-cart-is-empty">В корзине пусто</div> -->

                    <div class="cart-holder__price is-active j-cart-no-empty">
                        <span class="cart-holder__price__label">на сумму</span> <span class="j-cart-amount">1230</span> руб.
                    </div>
                </a>
            </div>
        </div>

    </div>
</header>
