.slider {

	&__content {
		padding: 20px;
		margin-bottom: 40px;

		@media (min-width: 1560px) {
			margin-bottom: 50px;
		}

		@media (max-width: 667px) {
			padding: 0;
		}
	}

	&__title {
		color: #fff;
		font-size: 9rem;
		line-height: 1;
		font-weight: 400;
		margin-bottom: 40px;
		text-shadow: 0 0.2rem 1.3rem rgba(0, 0, 0, 0.69);
		letter-spacing: 0.001rem;

		@media (min-width: 1560px) {
			font-size: 12rem;
		}

		@media (max-width: 667px) {
			font-size: 5.5rem;
			font-weight: 600;
		}
	}

	&__button {
    	@extend %button;
		height: 5rem;
		display: block;
		color: $c-black;
		padding: 0 20px;
		background-color: $c-yellow;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 5rem;
		display: inline-block;
		letter-spacing: 0.28rem;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: lighten($c-yellow-hover, 20%);
		}
	}

	&__dots {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 20px;

		@media (max-width: 667px) {
			padding-left: 0;
		}

		&__item {
			&:not(:last-child) {
				margin-right: 15px;
			}

			&:not(:first-child) {
				margin-left: 15px;
			}
		}

		&__button {
    		@extend %button;
			width: 12px;
			height: 12px;
			padding: 0;
			display: block;
			border-radius: 50%;
			background-color: $c-white;

			&:hover,
			&.is-active {
				background-color: $c-yellow;
			}
		}
	}
}
