.studio {
    color: #4e4747;
    padding: 6px 5px;
    font-size: 1.2rem;
    line-height: 1.2;
    display: inline-block;
    background-color: $c-yellow;

    &__link {
        color: $c-black;
        padding: 1px 2px;
        text-decoration: none;
        transition: background-color $a-micro-time $a-func, border-color $a-micro-time $a-func, color $a-micro-time $a-func;

        &:hover {
            color: $c-yellow;
            background-color: $c-black;
        }
    }

    &__underline {
    	display: inline;
        border-bottom: 1px solid rgba($c-black, .5);
    }
}
