$footer-offset: $footer-height + $footer-margin;

.layout-wrapper {
    width: 100%;
    min-height: calc(100% - #{$footer-offset});
    overflow: hidden;
    position: relative;

	@media (max-width: 667px) {
		min-height: calc(100% - 90px);
	}

    &__container {
    	width: 100%;
    }
}
