.aside {
	width: 240px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	display: none;
	padding-top: $header-height;
	padding-bottom: $footer-height;
	background-color: rgba($c-white, .8);

    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: -moz-scrollbars-none;
    overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
    }

    @media (min-width: 1560px) {
    	display: block;
    }

	&__content {
		padding: 20px;
	}
}
