.cart-holder {
    min-width: 140px;
    display: block;
    position: relative;
    z-index: 1000;
    text-decoration: none;

	@media (max-width: 678px) {
		position: absolute;
		right: 0;
    	height: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: calc(100% - 130px);
	}

	&__nomobile {
		margin-right: 3px;

		@media (max-width: 678px) {
			display: none;
		}
	}

    &__header {
        font-size: 0;
        line-height: 1;
        margin-bottom: 10px;
        margin-left: -5px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

		@media (max-width: 678px) {
			margin-bottom: 0;
		}
    }

    &__ico {
        color: #fff;
        width: 22px;
        height: 21px;
        margin-right: 13px;

		@media (max-width: 678px) {
			margin-right: 10px;
		}
    }

    &__count {
        color: $c-white;
        min-width: 26px;
        height: 26px;
    	padding: 0 5px;
		font-size: 1.2rem;
        font-weight: 600;
        line-height: 27px;
        border-radius: 26px;
        text-align: center;
        letter-spacing: 0.001rem;
        text-transform: uppercase;
        background-color: $c-black;

	    .page-main & {
        	color: $c-black;
	    	background-color: $c-yellow;
	    }

		@media (max-width: 678px) {
			margin-right: 10px;
		}
    }

    &__label {
    	display: none;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 7px;
        letter-spacing: 0.001rem;

        &.is-active {
        	display: block;
        }

		@media (max-width: 678px) {
        	line-height: 1;
	    }
    }

    &__price {
    	display: none;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.001rem;

        &.is-active {
        	display: block;
        }

		@media (max-width: 678px) {
        	line-height: 1;
	    }
    }
}
