.header-contacts {
	color: $c-black;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0.001rem;

	&__title {
		color: $c-black;
		margin-bottom: 12px;

	    .page-main & {
	    	color: $c-yellow;
	    }
	}

	&__address {
		color: $c-black;
		line-height: 1.5;

	    .page-main & {
	    	color: $c-white;
    	}
	}
}
