.header-phone {
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 1;
	white-space: nowrap;
	padding-left: 22px;
	letter-spacing: 0.001rem;
	background: url(../images/phone-stroke.svg) 0 1px no-repeat;
	background-size: 13px 13px;

	.page-main & {
		background-image: url(../images/phone-yellow.svg);
	}

	&__tel {
		color: $c-black;
		display: block;
		margin-bottom: 12px;
		text-decoration: none;

	    .page-main & {
	    	color: $c-white;
	    	text-shadow: 0 0 1px #000;
	    }

		@media (max-width: 667px) {
			margin-bottom: 0;
		}
	}

	&__comment {
		color: $c-black;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.001rem;

	    .page-main & {
	    	color: $c-yellow;
	    }

		@media (max-width: 667px) {
			display: none;
		}
	}
}
