.layout-header {
    position: relative;
    height: $header-height;
    z-index: 100;

	@media (max-width: 667px) {
		height: 100px;
	}

	@media (max-width: 375px) {
		height: 90px;
	}

    &__wrapper {
    	width: 100%;
    	height: 100%;
		padding-left: $sidebar-width;

		@media (max-width: 667px) {
			padding-left: 0;
		}
    }

    &__group {
    	width: 100%;
    	height: 100%;
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
		background-color: $c-yellow;

		@media (max-width: 667px) {
			padding: 15px;
			align-items: flex-start;
		}

		@media (max-width: 375px) {
			padding: 10px;
		}

		.page-main & {
			background-color: transparent;
		}
    }

    &__fixed {
		height: 100%;
    	flex-grow: 0;
    	flex-shrink: 0;
		flex-basis: 32%;
		padding-left: $sidebar-margin;
	    background-image: url(../images/delivery-truck.png);
		background-color: $c-yellow;
	    background-position: calc(100% - 20px) 50%;
	    background-repeat: no-repeat;

		@media (max-width: 667px) {
			display: none;
		}
    }

    &__content {
    	flex-grow: 0;
    	flex-shrink: 0;
    	flex-basis: calc(100% - 32%);
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
		padding: 0 $sidebar-margin / 2;

		@media (max-width: 667px) {
			padding: 0;
			flex-basis: auto;
			align-items: flex-end;
    		flex-direction: column-reverse;
		}
    }

    &__logo {
    	float: left;
    	display: none !important;

		@media (max-width: 667px) {
			display: block !important;
		}
    }
}
