.layout-header {
    position: relative;
    height: $header-height;
	background-color: $c-yellow;

    &__wrapper {
    	width: 100%;
    	display: flex;
    	align-items: flex-start;
    	justify-content: space-between;
		padding-left: $sidebar-width + $sidebar-margin;
		padding-right: $sidebar-margin;
    }

    &__logo {
        position: absolute;
        left: 0;
        top: 0;
    }
}
