.navigation {
	outline: none;

    &__list {
    	border: 1px solid blue;
    }

    &__item {
    	clear: both;
    }

    &__link {
	    color: #fff;
		font-size: 2.2rem;
		font-weight: 400;
		line-height: 7rem;
		letter-spacing: 0.002rem;
		text-decoration: none;

        &.is-current {
			border-bottom: 5px solid $c-yellow;
        }
    }
}
