.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
	height: 100%;
    z-index: 1000;
	padding: 50px;
    margin-right: -$sidebar-width;
	background-color: $c-dark;

	&__logo {
		margin-bottom: 100px;
	}

	&__content {
		border: 1px solid lime;
	}
}
