---
title: Главная
current: main
description: Главная
keywords: Главная
---
{%- extends "layouts/_base.html" -%}

{%- block sidebar -%}
    {%- include "partials/_sidebar.html" -%}
{%- endblock -%}

{%- block content -%}

    <div class="slider__content">
        <div class="slider__title">
            меню<br>на сегодня
        </div>

        <a href="./menu.html" class="slider__button">посмтреть предложение</a>
    </div>

    <ul class="slider__dots">
        <li class="slider__dots__item">
            <button type="button" class="slider__dots__button is-active"></button>
        </li>

        <li class="slider__dots__item">
            <button type="button" class="slider__dots__button"></button>
        </li>

        <li class="slider__dots__item">
            <button type="button" class="slider__dots__button"></button>
        </li>

        <li class="slider__dots__item">
            <button type="button" class="slider__dots__button"></button>
        </li>
    </ul>

{%- endblock -%}
