---
title: Главная
current: menu
description: Главная
keywords: Главная
---
{%- extends "layouts/_base.html" -%}

{%- block sidebar -%}
    {%- include "partials/_sidebar.html" -%}
{%- endblock -%}

{%- block aside -%}
    {%- include "partials/_aside.html" -%}
{%- endblock -%}

{%- block content -%}

    <h1>Меню</h1>

    <div class="catalog">
        <div class="catalog__category">
            <div class="catalog__category__name">
                Супы
            </div>
            <div class="catalog__category__list">
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Чанахи
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    250 мл.
                                </div>
                                <div class="product__price">
                                    60 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1752">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Лапша
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    250 мл.
                                </div>
                                <div class="product__price">
                                    60 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1753">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Борщ со сметаной
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    250/30 мл.
                                </div>
                                <div class="product__price">
                                    80 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1754">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Солянка
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    250 мл.
                                </div>
                                <div class="product__price">
                                    100 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1755">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Уха
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    250 мл.
                                </div>
                                <div class="product__price">
                                    140 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1756">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Удон с морепродуктами
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    250 мл.
                                </div>
                                <div class="product__price">
                                    170 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1757">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Том-Ям
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    250 мл.
                                </div>
                                <div class="product__price">
                                    200 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1758">в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="catalog__category">
            <div class="catalog__category__name">
                Холодные закуски
            </div>
            <div class="catalog__category__list">
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Бургер
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    360 гр.
                                </div>
                                <div class="product__price">
                                    100 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1759">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Клаб-сэндвич с ветчиной
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    320 гр.
                                </div>
                                <div class="product__price">
                                    160 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1760">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Шаурма
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    280 гр.
                                </div>
                                <div class="product__price">
                                    180 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1761">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Чизбургер
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    320 гр.
                                </div>
                                <div class="product__price">
                                    200 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1762">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Бурито
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    360 гр.
                                </div>
                                <div class="product__price">
                                    200 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1763">в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="catalog__category">
            <div class="catalog__category__name">
                Горячие закуски
            </div>
            <div class="catalog__category__list">
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Креветки жар\отв
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    100 гр.
                                </div>
                                <div class="product__price">
                                    200 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1764">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Мидии в белом соусе
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    100 гр.
                                </div>
                                <div class="product__price">
                                    200 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1765">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Колбаски гриль
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    1000/50/50/50 гр.
                                </div>
                                <div class="product__price">
                                    1 400 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1766">в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="catalog__category">
            <div class="catalog__category__name">
                Горячие роллы
            </div>
            <div class="catalog__category__list">
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Цезарь темпура
                        </div>
                        <div class="product__description">
                            Рис, нори, соус цезарь, куриная грудка, лист салата, огурец, помидор, сухари.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    240 гр.
                                </div>
                                <div class="product__price">
                                    110 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1873">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Вакаяма
                        </div>
                        <div class="product__description">
                            Рис, нори, огурец, сыр, угорь, сухари.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    240 гр.
                                </div>
                                <div class="product__price">
                                    150 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1874">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Камчатка
                        </div>
                        <div class="product__description">
                            Рис, нори, майонез, семга, мясо краба, тобика.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    240 гр.
                                </div>
                                <div class="product__price">
                                    150 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1875">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Набеока
                        </div>
                        <div class="product__description">
                            Рис, нори, сыр, томаты, семга, тобика, сухари.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    240 гр.
                                </div>
                                <div class="product__price">
                                    150 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1876">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Филадельфия темпура
                        </div>
                        <div class="product__description">
                            Рис, нори, семга, сыр, тобика, майонез, сухари.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    240 гр.
                                </div>
                                <div class="product__price">
                                    170 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1877">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Сакато
                        </div>
                        <div class="product__description">
                            Рис, нори, креветка, угорь, майонез, огурец, сухари.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    240 гр.
                                </div>
                                <div class="product__price">
                                    250 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1878">в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="catalog__category">
            <div class="catalog__category__name">
                Сеты роллов
            </div>
            <div class="catalog__category__list">
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            На 2 персоны
                        </div>
                        <div class="product__description">
                            Маки огурец, Маки лосось, Окаяма, Калифорния креветка
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    620 гр.
                                </div>
                                <div class="product__price">
                                    360 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1879">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            На 4 персоны
                        </div>
                        <div class="product__description">
                            Маки угорь, Набеока, Веган, Калифорния с крабом, Гринтоки, Осика.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    1150 гр.
                                </div>
                                <div class="product__price">
                                    780 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1880">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            На 6 персон
                        </div>
                        <div class="product__description">
                            Маки авакадо, Маки Креветка, Маки лосось, Сакато, Цезарь Темпура, Филадельфия Темпруа, Шикамаки, Флеш, Канада, Токио.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    1850 гр.
                                </div>
                                <div class="product__price">
                                    1 200 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1881">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Большой сет
                        </div>
                        <div class="product__description">
                            Маки авакадоогурецугорькреветка, Сакато, Цезарь темпура, Камчатка, Калифорния с лососем, калифорния с крабом, Бонито, Дракон, Радуга, Фушияма, Мураками.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    2560 гр.
                                </div>
                                <div class="product__price">
                                    2 500 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1882">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Четыре калифорнии
                        </div>
                        <div class="product__description">
                            Калифорния креветкакраблососьугорь.
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    1000 гр.
                                </div>
                                <div class="product__price">
                                    750 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1883">в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="catalog__category">
            <div class="catalog__category__name">
                Соуса
            </div>
            <div class="catalog__category__list">
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Белый
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    50 мл.
                                </div>
                                <div class="product__price">
                                    15 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1884">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Красный
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    50 мл.
                                </div>
                                <div class="product__price">
                                    15 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1885">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Сальса
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    50 мл.
                                </div>
                                <div class="product__price">
                                    15 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1886">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Барбекью
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    50 мл.
                                </div>
                                <div class="product__price">
                                    20 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1887">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Бурито
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    50 мл.
                                </div>
                                <div class="product__price">
                                    20 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1888">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Сырный
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    50 мл.
                                </div>
                                <div class="product__price">
                                    20 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1889">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Чили
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    50 мл.
                                </div>
                                <div class="product__price">
                                    25 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1890">в корзину</button>
                        </div>
                    </div>
                </div>
                <div class="catalog__category__product product product--center">
                    <div class="product__group">
                        <div class="product__name">
                            Песто
                        </div>
                        <div class="product__description">
                        </div>
                    </div>
                    <div class="product__right">
                        <div class="product__modification">
                            <div class="product__modification__item">
                                <div class="product__weight">
                                    50 мл.
                                </div>
                                <div class="product__price">
                                    140 р
                                </div>
                            </div>
                        </div>
                        <div class="product__button j-cart-button">
                            <button type="button" class="product__trigger j-cart-add" data-product="1891">в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%- endblock -%}
