@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/thin.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/thinital.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/thinital.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/light.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_cond_proLtIt';
    src: url('/fonts/pfdintextcondpro/lightital.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/lightital.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/regular.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/italic.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/medital.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/medital.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/medium.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/bold.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/boldital.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/boldital.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/xblack.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/xblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('/fonts/pfdintextcondpro/xblackital.woff2') format('woff2'),
         url('/fonts/pfdintextcondpro/xblackital.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
